@use '../abstract/variaveis';
@use '../abstract/mixins';

.footer{
    padding: 2rem;
    text-align: center;
    margin-top: 5rem;
    background-size: 15px;
    @include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
}

.footer{
    background: url(../../assets/footer.png) ;
    display: inline-block;
    padding-left: 50px;
    line-height: 15px;
    width: 93.8%;
}
    
@media (max-width: 768px) {
    .footer{
        background: url(../../assets/footer.png) ;
        display: inline-block;
        padding-left: 50px;
        line-height: 15px;
        width: 80%;
    }
}