//Variaveis
//Cores
$cor-primaria: #0C0421;
$cor-secundaria: #cb6a7e;
$cor-terciaria: #e9cbd1;
$cor-quaternaria: #e6c1c8;
$cor-default: #d3929f;
$gradiente-primario: linear-gradient(180deg, #d3929ff7 0%, #fafbf6 94.87%);
$gradiente-secundario: linear-gradient(180deg, rgba(233, 203, 209, 0.38) 0%, rgba(202, 212, 250, 0.3) 100%);
//Fontes
$ft-textos: 'Montserrat', sans-serif;
$ft-titulos: 'Krona One', sans-serif;